[submodule "docker/-f"]
	path = docker/-f
	url = https://github.com/jaecktec/docker-freecad.git
[submodule "docker/docker-freecad"]
	path = docker/docker-freecad
	url = https://github.com/jaecktec/docker-freecad.git
